@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {

} 

.container{
padding: 50px;
width: 300px;
margin: 0 auto;
margin-top: 0px;
background: white;
border-radius: 5px;
font-family: 'Walter Turncoat', cursive;

}


#box {
display: inline-block;
padding-block-end: 20px;
padding-left: 20px;
}

#idc123{
    margin-left: 30px;  
}
#slide{
    padding-bottom: 30px;
    position: fixed;
    padding-left: 170px;
    padding-top: 5px;
    display: none;
}

input{
padding: 4px 125px 4px 5px;
}

#btn_settings {
  
    margin-right: 100px;
    width: 64px;
    height: 22px;
}

#btn_color {
    width: 64px;
    height: 22px;
}

 h2{
    text-align: center;
    color: black;
    font-size: xx-large;
    padding-top: 20px;
}


#button{
display: block;
background-color: #69a97a;
color:#ffffff;
border-radius: 10px;
text-align:center;
margin-top:2px;
padding: 10px 105px;
width: auto;
letter-spacing: 3px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {
    padding-left: 20px;
    
}

ol li {
    padding: 15px;
    font-size: 18px;
    color:#000;
    
}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

#hs{
    letter-spacing: 2px;
}